#footer {
  .footer-one {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 50px 0;
    &--left {
      a {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.73);
        margin: 10px 0;
        transition: .5s;
        &:hover{
          color: red;
        }
      }
      &__icons {
        display: flex;
        div {
          background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          transition: .5s;
          &:hover{
            color: red;
          }
        }
      }
    }
    &--right{
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 70%;
      div{
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        h4{
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          letter-spacing: 0.07em;
          color: rgba(255, 255, 255, 0.8);
        }
        a{
          font-weight: 400;
          font-size: 14px;
          line-height: 40px;
          letter-spacing: 0.1em;
          color: rgba(255, 255, 255, 0.8);
          transition: .5s;
          &:hover{
            color: red;
          }
        }
      }
    }
  }
  .footer-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0;
    &--left{
      h1{
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    &--right{
      a{
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        margin-right: 54px;
        transition: .5s;
        &:hover{
          color: red;
        }
      }
    }
  }
}