@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
body{
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(90.35deg, #10153b 0.36%, #0c040e 201.02%);
}